---
import PostHog from '../components/posthog.astro'

interface Props {
	pageTitle: string
	pageDescription: string
	appUrl: string
	webAppSchema: Record<string, unknown>
}

const { pageTitle, pageDescription, appUrl, webAppSchema } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{pageTitle}</title>
		<meta name="description" content={pageDescription} />
		<link rel="canonical" href={appUrl} />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:description" content={pageDescription} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={appUrl} />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content={pageTitle} />
		<meta name="twitter:description" content={pageDescription} />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="ghmd" />
		<link rel="manifest" href="/site.webmanifest" />
		<script type="application/ld+json" set:html={JSON.stringify(webAppSchema)}></script>
		<PostHog />
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
